PORT=3000
OPENAI_API_KEY=
DEFAULT_MARKETPLACE_FEE_PERCENT=14
INTEGRATION_MODE=mock
TRENDS_MODE=mock

MERCADO_LIVRE_CLIENT_ID=5338636718495082
MERCADO_LIVRE_CLIENT_SECRET=J8T2kjDEB03QUEHTLAfFvGYIMi4DGDLP
MERCADO_LIVRE_REDIRECT_URI=https://sstbet.site.je/drop/Droppingship/api/integrations/oauth/mercadoLivre/callback

SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_SHOP_ID=
SHOPEE_REDIRECT_URI=https://sstbet.site.je/drop/Droppingship/api/integrations/oauth/shopee/callback

TIKTOK_SHOP_APP_KEY=
TIKTOK_SHOP_APP_SECRET=
TIKTOK_SHOP_REDIRECT_URI=https://sstbet.site.je/drop/Droppingship/api/integrations/oauth/tiktokShop/callback

ALIEXPRESS_APP_KEY=539108
ALIEXPRESS_APP_SECRET=V67K9nybwiGsn4GXl6vtAJXKQg7hWHbP
ALIEXPRESS_REDIRECT_URI=https://sstbet.site.je/drop/Droppingship/api/integrations/oauth/aliexpress/callback

TEMU_APP_KEY=
TEMU_APP_SECRET=
